.topbar {
	width: calc(100% - 250px); /* Adjust for sidebar width */
	height: 60px;
	background-color: #34495e;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 250px; /* Adjust for sidebar width */
	z-index: 1000;
  }
  
  .search-container {
	flex-grow: 1;
	color: #34495e;
  }
  
  .search-input {
	width: 100%;
	max-width: 400px;
	padding: 8px 12px;
	border-radius: 4px;
	border: none;
	font-size: 1rem;
  }
  
  .menu {
	display: flex;
	align-items: center;
  }
  
  .menu-item {
	margin-left: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
  }
  
  .menu-item span {
	margin-left: 8px;
  }
  
  .menu-item .fa-bell {
	font-size: 1.2rem;
  }
  
  .menu-item:hover {
	color: #1abc9c;
  }
  